<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96262482663-0jgj2t1f1ig0flvl7maen860mpsv50qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96262482663-0jgj2t1f1ig0flvl7maen860mpsv50qn</string>
	<key>API_KEY</key>
	<string>AIzaSyDD33886i06Kx0m1JhxTCbZ3RBsZni_iME</string>
	<key>GCM_SENDER_ID</key>
	<string>96262482663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sacNitp</string>
	<key>PROJECT_ID</key>
	<string>sac-nitp-b0bca</string>
	<key>STORAGE_BUCKET</key>
	<string>sac-nitp-b0bca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96262482663:ios:ad1b6f69881be5780cd042</string>
</dict>
</plist>