<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46175494596-lrf4477510st7a4miokjsl2smor6csmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46175494596-lrf4477510st7a4miokjsl2smor6csmq</string>
	<key>API_KEY</key>
	<string>AIzaSyBWpWDxqe8i4ewqblu3BYNkyv1BUGUr7Mo</string>
	<key>GCM_SENDER_ID</key>
	<string>46175494596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sacEventManager</string>
	<key>PROJECT_ID</key>
	<string>sacapp-fba57</string>
	<key>STORAGE_BUCKET</key>
	<string>sacapp-fba57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46175494596:ios:c2082c9ab10bcec27fc491</string>
</dict>
</plist>